* {
  font-family: Verdana, Geneva, sans-serif;
}

html {
	height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-color: white;
    overflow: visible;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
	background: green; /* For browsers that do not support gradients */
	background: -webkit-radial-gradient(#009900, #004d00); /* Safari 5.1 to 6.0 */
	background: -o-radial-gradient(#009900, #004d00); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(#009900, #004d00); /* For Firefox 3.6 to 15 */
	background: radial-gradient(#009900, #004d00); /* Standard syntax */
}

/************** LOGIN SCREEN **********************/

.launch_screen {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	max-height: 500px
}

.title {
	transform: translate3d(0, 0, 0);
	font-size: 3.5em;
	text-align: center;
}

.input_title {
	font-size: 1.5em;
	width: 200px;
}

.input {
	font-size: 1.5em;
	width: 200px;
}

.button {
	width: 200px;
	height: 50px;
    margin: 50px;
	
	background-color: black;
	color: white;
	
	border-radius: 15px;
	
	text-align: center;
	font-size: 1.5em;
	line-height:50px;
	
	transition: color 0.1s linear, box-shadow 0.1s linear;
}

.button:hover {
	cursor: pointer;
	color: rgb(0, 102, 204);
	box-shadow: 0px 0px 5px black;
}

.waiting_screen {
	visibility: hidden;
}

/************** DISCONNECT BOX *******************/

.disconnect_box {
	position: fixed;
	top: 10px;
	right: 0px;	
	transform: translateX(85%);
	
	background-color: red;
	
	border-radius: 15px;
	padding: 5px;
	
	font-size:1.5em;
	
	transition: transform 0.7s ease-in-out;
	
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
	
	visibility: hidden;
  transition: transform 0.7s ease-in-out;
	/*someday figure out how to fade them in*/
	/*I know I have done this before... I think you need to
	  do a transition on the opacity*/
}

.disconnect_box:hover {
	transform: translateX(0%);
	cursor: pointer;
}